<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Recipies DataBase</h1>
    <form
      action="/addrecipie"
      method="POST"
      enctype="multipart/form-data"
      style="display: flex; flex-direction: column"
    >
      <label for="recipieName">Enter Recipie name:</label>
      <input type="text" name="recipieName" />
      <label for="Category">select Category name:</label>
      <select name="Category">
        <option value="beef">Beef</option>
        <option value="chicken">Chicken</option>
        <option value="Dessert">Dessert</option>
        <option value="Lamb">Lamb</option>
        <option value="Miscellaneous">Miscellaneous</option>
        <option value="Pasta">Pasta</option>
        <option value="seafood">Seafood</option>
        <option value="Breakfast">Breakfast</option>
      </select>
      <label for="instruction">Enter recipie method:</label>
      <textarea
        name="instruction"
        placeholder="enter recipie methods"
      ></textarea>
      <label for="image">Upload a file</label>
      <input type="file" name="image" />
      <button type="submit" name="submit" style="margin: 10px">Submit</button>
    </form>
    <button @click="show-data">show Data</button>
  </body>
</html>
